
:root {
    --default-color: white;
    --color-one: red; 
    --color-two: orange;
    --color-three: yellow;
    --color-four: green;
    --color-five: rgb(50, 224, 102);
    --color-six: rgb(109, 206, 245); 
    --color-seven: blue;
    --color-eight: indigo;
    --color-nine: violet;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background:black;
}   

.container{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 8rem 2rem;
    text-align: center;
}

.score{
    color: white;
    font-size: 40px;
    margin-top: 5em;
    padding: 0 1em;
    height: 60px;
}

.menu{
    color: white;
    font-size: 30px;
    padding: 0 2em;
}

.menu-button{
    font-size: 20px;
    text-align: left;
}

.menu-button:hover{
    color: rgb(208, 225, 236);
    cursor: pointer;
}

.board{
    display: grid;
    margin: 0 auto;
    grid-template-columns: 10em 10em 10em;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    width: 32em;
}

.board-piece{
    width: 10em;
    height: 10em;
    cursor: pointer;
    background: white;
    border-radius: 10px;
    border: none;
    opacity: 0.8;
}

.board-piece:hover{
    background: rgb(208, 225, 236);
    opacity: 0.6;
}

@media(max-width: 1100px){
    .board{
        grid-template-columns: 6em 6em 6em;
        grid-row-gap: 1em;
        grid-column-gap: 1em;
        width: 20em;
    }

    .board-piece{
        width: 6em;
        height: 6em;
    }

    .score{
        margin-top: 3em;
    }
}

@media(max-width: 875px){
    .container{
        flex-direction: column;
        padding: 0;
    }

    .score{
        margin: 1em 0 1em 0;
    }

    .menu{
        margin-top: 2em;
    }

    .menu-button{
        text-align: center;
    }
}

.flashOne {
    animation-name: flashOne, dimOne;
    animation-duration: 0.75s, 0.5s;
    animation-delay: 0s, 0.5s;
    animation-iteration-count: 1,1;
}

@keyframes flashOne{
    from{
       background-color:var(--default-color);
    }

    to{
        background-color: var(--color-one);
    }
}

@keyframes dimOne{
    from{
       background-color: var(--color-one);
    }

    to{
        background-color: var(--default-color);
    }
}

.flashTwo {
    animation-name: flashTwo, dimTwo;
    animation-duration: 0.75s, 0.5s;
    animation-delay: 0s, 0.5s;
    animation-iteration-count: 1,1;
}

@keyframes flashTwo{
    from{
       background-color:var(--default-color);
    }

    to{
        background-color: var(--color-two);
    }
}

@keyframes dimTwo{
    from{
       background-color: var(--color-two);
    }

    to{
        background-color: var(--default-color);
    }
}

.flashThree {
    animation-name: flashThree, dimThree;
    animation-duration: 0.75s, 0.5s;
    animation-delay: 0s, 0.5s;
    animation-iteration-count: 1,1;
}

@keyframes flashThree{
    from{
       background-color:var(--default-color);
    }

    to{
        background-color: var(--color-three);
    }
}

@keyframes dimThree{
    from{
       background-color: var(--color-three);
    }

    to{
        background-color: var(--default-color);
    }
}

.flashFour {
    animation-name: flashFour, dimFour;
    animation-duration: 0.75s, 0.5s;
    animation-delay: 0s, 0.5s;
    animation-iteration-count: 1,1;
}

@keyframes flashFour{
    from{
       background-color:var(--default-color);
    }

    to{
        background-color: var(--color-four);
    }
}

@keyframes dimFour{
    from{
       background-color: var(--color-four);
    }

    to{
        background-color: var(--default-color);
    }
}

.flashFive {
    animation-name: flashFive, dimFive;
    animation-duration: 0.75s, 0.5s;
    animation-delay: 0s, 0.5s;
    animation-iteration-count: 1,1;
}

@keyframes flashFive{
    from{
       background-color:var(--default-color);
    }

    to{
        background-color: var(--color-five);
    }
}

@keyframes dimFive{
    from{
       background-color: var(--color-five);
    }

    to{
        background-color: var(--default-color);
    }
}

.flashSix {
    animation-name: flashSix, dimSix;
    animation-duration: 0.75s, 0.5s;
    animation-delay: 0s, 0.5s;
    animation-iteration-count: 1,1;
}

@keyframes flashSix{
    from{
       background-color:var(--default-color);
    }

    to{
        background-color: var(--color-six);
    }
}

@keyframes dimSix{
    from{
       background-color: var(--color-six);
    }

    to{
        background-color: var(--default-color);
    }
}

.flashSeven {
    animation-name: flashSeven, dimSeven;
    animation-duration: 0.75s, 0.5s;
    animation-delay: 0s, 0.5s;
    animation-iteration-count: 1,1;
}

@keyframes flashSeven{
    from{
       background-color:var(--default-color);
    }

    to{
        background-color: var(--color-seven);
    }
}

@keyframes dimSeven{
    from{
       background-color: var(--color-seven);
    }

    to{
        background-color: var(--default-color);
    }
}

.flashEight {
    animation-name: flashEight, dimEight;
    animation-duration: 0.75s, 0.5s;
    animation-delay: 0s, 0.5s;
    animation-iteration-count: 1,1;
}

@keyframes flashEight{
    from{
       background-color:var(--default-color);
    }

    to{
        background-color: var(--color-eight);
    }
}

@keyframes dimEight{
    from{
       background-color: var(--color-eight);
    }

    to{
        background-color: var(--default-color);
    }
}

.flashNine {
    animation-name: flashNine, dimNine;
    animation-duration: 0.75s, 0.5s;
    animation-delay: 0s, 0.5s;
    animation-iteration-count: 1,1;
}

@keyframes flashNine{
    from{
       background-color:var(--default-color);
    }

    to{
        background-color: var(--color-nine);
    }
}

@keyframes dimNine{
    from{
       background-color: var(--color-nine);
    }

    to{
        background-color: var(--default-color);
    }
}