@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    --primary-color: #003699;
    --dark-color: #333333;
    --light-color: #f4f4f4;
    --lose-color: #dc3545;
    --win-color: #28a745;
    --modal-duration: 1s;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background:black;
}   

.container{
    margin: 0 auto;
    padding: 8rem 2rem;
    text-align: center;
}

.board{
    display: grid;
    margin: 0 auto;
    grid-template-columns: 10em 10em 10em;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    width: 32em;
}

.board-piece{
    width: 10em;
    height: 10em;
    cursor: pointer;
    background: white;
    border-radius: 10px;
    border: none;
    opacity: 0.8;
}

.board-piece:hover{
    background: rgb(157, 215, 253);
    opacity: 0.6;
}

@media(max-width: 700px){
    .board{
        grid-template-columns: 8em 8em 8em;
        width: 24em;
    }
    
    .board-piece{
        width: 6em;
        height: 6em;
        top: 1em;
        left: 1em;
        line-height: 6em;
    }
}